<div class="card">
    <div class="card-body">
        <ul class="list-group personal">
            <li class="list-group-item">{{userDetails?.personal[0].fname}}</li>
            <li class="list-group-item">{{userDetails?.personal[0].lname}}</li>
            <li class="list-group-item">{{userDetails?.personal[0].age}}</li>
            <li class="list-group-item">{{userDetails?.personal[0].dob}}</li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ul class="list-group personal">
            <li class="list-group-item">{{userDetails?.contact[0].phone}}</li>
            <li class="list-group-item">{{userDetails?.contact[0].email}}</li>
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <ul class="list-group personal">
            <li class="list-group-item">{{userDetails?.address[0].street}}</li>
            <li class="list-group-item">{{userDetails?.address[0].city}}</li>
            <li class="list-group-item">{{userDetails?.address[0].zip}}</li>
            <li class="list-group-item">{{userDetails?.address[0].state}}</li>
        </ul>
    </div>
</div>
